/* Background color */
.bg-jungleGreen{
    background-color: #000F08;
}

.bg-grey{
    background-color: #9CAEA9;
}


/* Fonts */
.icelandFont{
    font-family: 'Iceland', cursive;
}


/* Taille du header */
header{
    height: 150px;
}


/* Masque du titre écran S et M */
.formatTitreS{
    display: none;
}


/* Media Screen */

/* Affichage du header format normal */
@media screen and (max-width:990px){
    .imgPierrick{
        width: 200px;
        height: 200px;
        margin-top: 35px;
    }
    .formatTitreL{
        display : block;
    }
}

/* Affichage du header format écran S et M */
@media screen and (max-width:380px){
    .formatTitreL{
        display: none;
    }
    .formatTitreS{
        display: block;
    }
    .imgPierrick{
        margin-top: -10px;
    }
}
